
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');


html {

    font-family: 'Montserrat', sans-serif;
    background-color: #f2f3ef;
}

.row{
width: 100%;
}


#info{
  
    width: 90%;
    background-color: rgb(230, 227, 109);
    height: 500px;

    margin: 10% 5% 5% 5%;
    border: 15px ridge rgb(241, 239, 69);
    border-radius: 15px;

}
#aClick{
    color: red;
font-size: 50px;
      
  }
#aClick:hover{
  color: aqua;
    
}
#info #infotext{
    float: left;
    width: 40%;
    margin: 2.5%;
    
}
#info #infoimg{
    width: 40%;
    height: 90%;
    float: right;
    margin: 2.5%

}

#khuyenmai{


    margin: 5% 5% 5% 5%;
    width: 90%;
    background-color: rgb(140, 5, 174);
    height: 500px;
    border: 15px ridge rgb(139, 70, 248);
    border-radius: 15px;

}
#khuyenmai #khuyenmaitext{
    float: right;
    width: 40%;
    margin: 2.5%;
    
}
#khuyenmai #khuyenmaiimg{
    width: 40%;
    height: 90%;
    float: left;
    margin: 2.5%

}

.h2center{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px ;   
  
}

#info p{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
#khuyenmai p{
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
/* #buy{
    float: left;
    width: 90%;
    background-color: rgb(155, 240, 240);
    min-height: 250px;
    margin: 5% 5% 5% 5%;
    padding: 15px;
    align-items: center;
    border-radius: 15px;
    
}
#buy #left{
    text-align: start;
}
#buy #right{
    text-align: end;
} */
#buy #btn{
min-height: 100px;
min-width: 100px;
margin: 20px 40%;


}
#buy #btn a{
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}
.noibat{
   
    height: 400px;
    text-align: center;
    margin: 15px 0px;
    padding: 20px;
}

.hr{
    width: 100%;
    text-align: center;
}


.sanpham{
    
    text-align: center;
    width: 25%;
    height: 100%;
    padding: 10px;
     float: left;
    box-sizing: border-box;
    border-radius: 15px;

}
.sanpham > div{
    height: 100%;
    border-radius: 15px;

}
.sanpham > div > a{
    height: 100%;
    

}
.sanpham > div >a> .asp{

   height: 90%;
    border-radius: 15px;

}
.sanpham > div >a> h3{

    max-height: 10%;
   
 
 }
.sanpham:hover{
    opacity: 70%;
}

    
