html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #292826;
}

h1{
    font-size: 45px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ec4d37;
}
h2{
    font-size: 35px;
    font-weight: bolder;
    color: #ec4d37;
}
h3{
    font-size: 25px;
    color: #ec4d37;
}

p{
    font-size: 16px;
    color: #F9d342;
    font-weight:900
}

hover{
    background-color: #ccc;
    color: #000;
  }
