<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" href="../css/style.css"> 
    <link rel="stylesheet" href="../css/aboutus.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    
    <script src="/assets/js/header.js"></script>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../font_icon/themify-icons/themify-icons.css" type="text/css">
   
</head>
<body>


    <div class="header">
        <p>Câu chuyện về SunHappy</p>
        <br>
        <p style="font-size: 20px;">Đây là chuyên mục giúp các bạn biết được SunHappy đã hình thành ra sao và chúng tôi muốn xây dựng một công ty như thế nào!</p>
    </div>
    <div class="container">
        <div class="box__left">
            <div><h3>Sứ mệnh <br>của SunHappy</h3></div><br>
            <img class="img1" src="../image/ảnh 12.jpg" alt="Loading..." >         
        </div>
        <div class="box__right">
           <p> Đó là một câu hỏi chúng tôi đã nhận được rất nhiều kể từ khi thành lập và hôm nay chúng tôi tự tin để trả lời về sứ mệnh của mình </p><br>

            <p>“SunHappy sinh ra với mong muốn trở thành điển hình về mô hình DOANH NGHIỆP TRÁCH NHIỆM bằng cách vừa làm kinh doanh bài bản, có lợi nhuận và đồng thời mang lại những giá trị thiết thực và lâu dài cho khách hàng, cho nhân viên"
            </p><br>
            <p>SunHappy thành lập vào năm 2020 với một Website bán hàng sơ khai, bán chủ yếu là các loại áo polo nam với mong muốn mang lại giải pháp chỉn chu cho nam giới mỗi khi ra ngoài. SunHappy tin chắc rằng với giải pháp mà mình mang lại sẽ đem lại cho nam giới sự tự tin vốn có chỉ bằng những chiếc áo polo đơn giản. </p><br>
            <p>Và chắc chắn là chúng tôi sẽ không dừng lại ở những thứ đó. SunHappy sẽ mở rộng hơn các sản phẩm, dịch vụ xoay quanh nhu cầu của nam giới. Nên một ngày đẹp trời, nếu như mà bạn tìm thấy một đôi giày, bộ dao cạo râu, hay một lọ lăn khử mùi hay thậm chí là những chiếc bao cao su chất lượng ở Website thì cũng đừng ngạc nhiên nhé.</p><br>
            <p>SunHappy đã nhanh chóng có sự tăng trưởng vượt bậc chỉ hơn hai năm hoạt động. Đây là dấu hiệu cho thấy sự tăng trưởng của ngành hàng đầy tiềm năng này. </p><br>
        </div> 
    </div>
    <div class="exam1">
        <center>
        <p>"SunHappy sẽ trở thành điển hình về mô hình DOANH NGHIỆP TRÁCH NHIỆM
            bằng cách kinh doanh tử tế, có lợi nhuận và mang lại những giá trị thiết thực và lâu dài
            cho khách hàng, cho nhân viên, cho đối tác, cho cộng đồng , cho môi trường và cho cổ đông"</p><br>
            <p><i>Đội ngũ Founder</i></p>
            <br><br><br>
        </center>
    </div>

    <div class="container">
        <div class="box__left">

            <img class="img3" src="https://img.freepik.com/free-photo/millennial-group-young-businesspeople-asia-businessman-businesswoman-celebrate-giving-five-after-dealing-feeling-happy-signing-contract-agreement-meeting-room-small-modern-office_7861-2516.jpg?w=900&t=st=1670666978~exp=1670667578~hmac=56b1f6bbb7b1391157f417576c27c8062497a58a21befa255259b38fc7f153ccs" alt="Loading..." >
        </div>
        <div class="box__right">
          <h3 style="color: blue; font-size: 30px;">Câu chuyện CHĂM SÓC KHÁCH HÀNG  
            <br> của đội ngũ nhà SunHappy </h3><br>
          <hr width="30%" height="20%" color="blue">
          <br>
            <p>“SunHappy sinh ra với mong muốn trở thành điển hình về mô hình DOANH NGHIỆP TRÁCH NHIỆM bằng cách vừa làm kinh doanh bài bản, có lợi nhuận và đồng thời mang lại những giá trị thiết thực và lâu dài cho khách hàng, cho nhân viên, cho đối tác, cho cộng đồng, xã hội và cho cổ đông"
            </p><br>

            <p>SunHappy thành lập vào năm 2020, khởi đầu với một nhà kho 20m2, và một Website bán hàng sơ khai, với các sản phẩm rất cơ bản dành cho nam giới như áo thun, bít tất và đồ lót. Sau 2 năm, SunHappy đã có sự trưởng thành đáng kể.</p><br>

            <p>SunHappy vẫn bán áo thun, đồ lót và bít tất, và cũng có thêm khá nhiều các sản phẩm khác trong tủ đồ nam giới như các đồ mặc đi chơi, mặc đi làm, hay chơi thể thao. Chúng tôi cũng bán cả mũ, cả khẩu trang, khăn mặt và 1 số áo in để dành tiền quyên góp cho một số quỹ từ thiện, làm các sản phẩm in ấn theo yêu cầu.</p><br>

            <p>SunHappy cũng có sự tăng trưởng nhanh về doanh số và cũng có một chút lợi nhuận, và có nhiều hơn các quỹ đầu tư đã rót vốn </p><br>
        </div> 


    </div>
    <div class="container">
      <div class="box__right">
        <h3 style="color: blue; font-size: 30px;">Chính sách GIAO HÀNG  và quy định ĐỔI TRẢ </h3><br>
        <hr width="30%" height="20%" color="blue">
        <br>
          <p>Nhằm đáp ứng nhu cầu và bảo vệ tối đa quyền lợi khách hàng khi sử dụng dịch vụ của SunHappy. SunHappyđã triển khai chính sách hỗ trợ việc xem và kiểm tra hàng hóa khi giao hàng.
          </p><br>

          <p> Khách hàng khi nhận hàng từ nhân viên vận chuyển: vui lòng kiểm tra hộp hàng còn nguyên vẹn 02 tem niêm phong SunHappy, khách hàng có thể mở hàng để kiểm tra hàng hóa bên trong hộp hàng. Khuyến khích khách hàng quay lại Video trong suốt quá trình kiểm tra hàng để những vấn đề phát sinh được dễ dàng xử lý.</p><br>

          <p> SunHappy đảm bảo sản phẩm gửi đến khách hàng đã được kiểm tra chất lượng. Trong trường hợp hiếm hoi sản phẩm khách hàng nhận được có khiếm khuyết, hư hỏng hoặc không như mô tả,SunHappy cam kết bảo vệ khách hàng bằng chính sách đổi trả và bảo hành</p><br>

          <p> Khách hàng được đổi hoặc trả sản phẩm trong vòng 60 ngày kể từ ngày nhận được sản phẩm.

          Bất kỳ sản phẩm nào đặt mua tại SunHappy (ngoại trừ Outlet, sản phẩm Săn deal, sản phẩm đặt riêng theo yêu cầu và sản phẩm Pre-Order phiên bản số lượng giới hạn, không về thêm hàng) cũng được áp dụng chính sách này, kể cả sản phẩm đã giặt hay cắt mác.</p><br>

          <p>  Trường hợp đổi, khách hàng sẽ chịu chi phí vận chuyển chỉ với 15.000 VNĐ, và SunHappy sẽ giao lại hàng miễn phí cho Khách hàng.</p><br>
      </div> 
      <div class="box__left">

          <img class="img3" src="https://img.freepik.com/free-photo/close-up-woman-holding-box-with-service-delivery-holding-board_1150-8870.jpg?w=996&t=st=1670691871~exp=1670692471~hmac=b7e052f7b0b6dad63ba1d714f5877436490b59b30e446a51d12f98b52d9605c5" alt="Loading..." >

      </div>
    </div>

    <div class="box-ceo">
        <div class="title">
            <div>BAN ĐIỀU HÀNH </div>
        </div>
        <div class="item">
          <div class="member">
            <img src="../image/co-founder1.jpg" alt="">
            <div class="infor">
              <span class="name">Nguyễn Thành Nhân</span>
              <span class="department">Co-Founder</span>
             
            </div> 
            <div class="more"><p>View More</p></div>
          </div>
          <div class="member">
            <img src="https://toigingiuvedep.vn/wp-content/uploads/2021/07/mau-anh-the-dep-lam-the-can-cuoc.jpg" alt="">
            <div class="infor">
              <span class="name">Nguyễn Văn X</span>
              <span class="department">Founder & CEO</span>
        
            </div> 
            <div class="more"><p>View More</p></div>
          </div>
          <div class="member">
            <img src="https://smilemedia.vn/wp-content/uploads/2022/09/cach-chup-anh-the-dep-e1664379835782.jpg" alt="">
            <div class="infor">
              <span class="name">Nguyễn Văn Y</span>
              <span class="department">Co-Founder</span>
             
            </div> 
            <div class="more"><p>View More</p></div>
          </div>
        </div>
    </div>

    <div class="exam2">
        <center>
        <p>Trong cuộc sống có quá nhiều sự lựa chọn</p>
            <p>cảm ơn bạn đã tin tưởng lựa chọn SunHappy!</p>
        </center>
    </div>
    <div class="bottom">
      <div class="column1">
        <p>Tìm hiểu thêm về SunHappy</p>
         <a href="">để lại câu hỏi nhé</a></p>
      </div> 
      <div class="column2">
        <p>Trải nghiệm mua sắm </p>
        <a href="">với SunHappy</a>
      </div>

      <div class="column3">
        <p>Nếu bạn thích </p>
        <a href=""> gia nhập SunHappy</a>
      </div> 
    </div>
    <footer class="footer">
      <div class="ft-container">
          <div class="ft-row">
              <div class="footer-col">
                  <a href="../../index.html"><img width="160dp" height="60dp" src="../image/SunHappy.png"></a> <br> <br>
                  <div class="social-links">
                      <a href="https://www.facebook.com/sunhappy.vn"><i class="ti-facebook"></i></a>
                      <a href="#"><i class="fab fa-tiktok"></i></a>
                      <a href="#"><i class="ti-instagram"></i></a>
                  </div>

                  <div>
                      <ul style="padding-left: 0rem;" class="ft-ul">
                          <li><a href="#">0909.673.694</a></li>
                          <li><a href="#">cskh.sunhappy@gmail.com</a> </li>
                          <li><a href="#">211 Linh Đông, P.Linh Đông, Thủ Đức, TP.HCM</a></li>

                      </ul>
                  </div>

              </div>

              <div class="footer-col">
                  <h4>Về SunHappy </h4>
                  <ul style="padding-left: 0rem;" class="ft-ul">
                      <li><a href="#">Câu chuyện SunHappy</a></li>
                      <li><a href="#">Nhà máy</a></li>
                      <li><a href="#">Về sản phẩm</a></li>
                      <li><a href="#">Tuyển dụng</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Sản phẩm</h4>
                  <ul style="padding-left: 0rem;" class="ft-ul">
                      <li><a href="#">Áo phông</a></li>
                      <li><a href="#">Áo sơ mi</a></li>
                      <li><a href="#">Áo polo</a></li>
                      <li><a href="#">Quần đùi</a></li>
                      <li><a href="#">Quần dài</a></li>
                  </ul>
              </div>
              <div class="footer-col">
                  <h4>Hỗ trợ khách hàng</h4>
                  <ul style="padding-left: 0rem;" class="ft-ul">
                      <li><a href="#">Chính sách bảo mật</a></li>
                      <li><a href="#">Chính sách đổi trả</a></li>
                      <li><a href="#">Chính sách giao hàng</a></li>
                      <li><a href="#">Hướng dẫn mua hàng</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>

</body>
</html>