<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" href="../css/manage_personal.css">
    <link rel="stylesheet" type="text/css" href="../font_icon/fontawesome-free-6.2.1-web/css/all.min.css">

</head>
<body>
    <div class="container">
        <div class="item-flex">
            <section class="list-information">
                <h2 id="finalname">Nguyễn Văn Nhân</h2>
                <div class="list-form">
                    <div class="more-options">
                      <button class="option">
                        <span> <a href="../layout/account.html">Thông tin cá nhân</a></span>
                      </button> <br>
                      <button class="option">
                        <span> <a href="../layout/order_list.html">Danh sách đơn hàng</a></span>
                      </button><br>
                      <!-- <button class="option">
                        <span>Đánh giá</span>
                      </button><br>

                      <button class="option">
                        <span>Voucher</span>
                      </button><br>
                      <button class="option">
                        <span>Ý kiến đánh giá</span>
                      </button><br> -->
                      <button class="option">
                        <span>Thoát</span>
                      </button><br>
                    </div>
            </section>
            <section class="detail-information">
              <h2>Thông tin tài khoản</h2>
              <form action="">
              <div class="personal-form">
                <div class="detail-options">
                 <label  class="name">Họ và tên</label>
                  <input  name="name" id="name" class="input-default" placeholder="Họ và tên của bạn">
                </div><br>
      
                <div class="detail-options">
                  <label class="name">Email</label>
                  <input  name="name" id="name" class="input-default" placeholder="Email của bạn">
                </div><br>
      
                <div class="detail-options">
                  <label class="name">Số điện thoại</label>
                  <input  name="name" id="name" class="input-default" placeholder="Số điện thoại của bạn">
                </div><br>
                <div class="detail-options">
                  <label class="name">Địa chỉ</label>
                  <input  name="name" id="name" class="input-default" placeholder="Địa chỉ của bạn">
                </div><br>
                <div class="detail-options">
                  <label class="name">Ngày sinh</label>
                  <input  name="name" id="name" class="input-default" placeholder="Ngày sinh của bạn">
                </div><br>
                <div class="detail-options">
                  <label class="name">Giới tính</label>
                  &nbsp; &nbsp; <input type="radio" name="gioitinh"  value="1"> Nam &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; 
                  <input type="radio" name="gioitinh" value="0" checked> Nữ
                </div><br><br>

                <div class="detail-options">
                  <label class="name">Chiều cao</label>
                  <input class="input-default" type="range" name="number" id="number" max="190" value="50" min="145" step="1">
                </div><br>

                <div class="detail-options">
                  <label class="name">Cân nặng</label>
                  <input class="input-default" type="range" name="number" id="number" max="85" value="10" min="45" step="1">
                </div><br>

                <div class="detail-options">
                  <button type="submit" class="btn">Cập nhật tài khoản </button>
                </div><br>    
              </div>
            </form>             
            </section>
        </div>
    </div>
</body>
</html>