<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" href="../css/manage_personal.css">
    <link rel="stylesheet" type="text/css" href="../font_icon/fontawesome-free-6.2.1-web/css/all.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <script src="/assets/js/header.js"></script>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../font_icon/themify-icons/themify-icons.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../font_icon/fontawesome-free-6.2.1-web/css/all.min.css">
    <script>
      function alertFinishing() {
          alert("Chức năng đang hoàn thiện!");
      }
    </script>
    <script>
      function exitConfirm() {
        if (window.confirm("Bạn có chắc chắn muốn thoát?")) {
            window.open("login.html", "Vui lòng đăng nhập!");
            }
      }
    </script>

</head>
<body>
  <div id="header">
    <header class="row">
        <ul id="nav">
            <li><a href="../../index.html"><img id="logo" src="../image/logo (7).png"></a></li>
            <li id="none"></li>
            <li>
                <a href="../layout/danhmucsp.html"> Danh sách 
                    <i class="ti-angle-down"></i>
                     </a>
                <ul class="subnav">
                    <li><a href="../layout/danhmucsp_quanshort.html">Quần short</a></li>
                    <li><a href="../layout/danhmucsp_aosomi.html">Áo sơ mi</a></li>
                    <li><a href="../layout/danhmucsp_aopolo.html">Áo polo</a></li>
            </ul>
            </li>
            <li><a href="../layout/about.html">About us</a></li>
            <li><a href="../layout/discount.html">Khuyến Mãi</a></li>
            <li id="none"></li>
            <li>
                 <form action="" id="search-box">
                    
                    <input placeholder="Điền tên sản phẩm" type="text" id="search-text">
                    <button id="search-btn"><i class="ti-search"></i></button>
                </form>
            </li>
            
            <li><a href="../layout/cart.html"><i class="shopping-cart-icon ti-shopping-cart"></i></a></li>
            <li><a href="../layout/login.html"><i class="user-icon ti-user"></i></a>
                <ul class="subnav" id="whenlogin" >
                   
                    <li><a href="../layout/account.html">Tài khoản </a></li>
                    <li><a onclick="dangxuat()" >Đăng xuất</a></li>

            </ul></li>
        </ul>
    </header>
</div>

<div style="margin-top: 10%; margin-bottom: 10%;"  class="container">
  <div class="item-flex">
    <section class="list-information">
      <h2>Nguyễn Văn Nhân</h2>
      <div class="list-form">
        <div class="list-form">
          <div class="more-options">
            <button class="option">
              <span><a style="text-decoration: none" href="../layout/account.html">Thông tin cá nhân</a></span>
            </button> <br>
            <button class="option">
              <span><a style="text-decoration: none" href="../layout/order_list_dangchuanbi.html">Danh sách đơn hàng</a></span>
            </button><br>
            <button class="option">
              <span><a onclick="alertFinishing()">Đánh giá</a></span>
            </button><br>
            <button class="option">
              <span><a onclick="alertFinishing()">Voucher của bạn</a></span>
            </button><br>
            <button class="option">
              <span><a onclick="alertFinishing()">Tư vấn</a></span>
            </button><br>
            <button class="option">
              <span><a onclick="exitConfirm()">Thoát</a></span>
            </button><br>
          </div>
          </div>
  </section>
      <section class="detail-information">
        <h2>Thông tin tài khoản</h2>
        <form action="">
        <div class="personal-form">
          <div class="detail-options">
           <label  class="name">Họ và tên</label>
            <input  name="name" id="name" class="input-default" placeholder="Họ và tên của bạn" required>
          </div><br>

          <div class="detail-options">
            <label class="name">Email</label>
            <input  name="name" id="name" class="input-default" placeholder="Email của bạn" required>
          </div><br>
          <div class="detail-options">
            <label class="name">Số điện thoại</label>
            <input  name="name" id="name" class="input-default" placeholder="Số điện thoại của bạn" required>
          </div><br>
          <div class="detail-options">
            <label class="name">Địa chỉ</label>
            <input  name="name" id="name" class="input-default" placeholder="Địa chỉ của bạn" required>
          </div><br>
          <div class="detail-options">
            <label class="name">Ngày sinh</label>
            <input  name="name" id="name" class="input-default" placeholder="Ngày sinh của bạn" required>
          </div><br>
          <div class="detail-options">
            <label class="name">Mật khẩu mới</label>
            <input  name="name" id="name" class="input-default" placeholder="Mật khẩu mới">
          </div><br>
          <div class="detail-options">
            <label class="name">Nhập lại mật khẩu</label>
            <input  name="name" id="name" class="input-default" placeholder="Nhập lại mật khẩu">
          </div><br>
          <div class="detail-options">
            <label class="name">Giới tính</label>
            &nbsp; &nbsp; <input type="radio" name="gioitinh"  value="1"> Nam &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; 
            <input type="radio" name="gioitinh" value="0" checked> Nữ
          </div><br><br>

          <div class="detail-options">
            <label class="name">Chiều cao</label>
            <input class="input-default" type="range" name="number" id="number" max="190" value="50" min="145" step="1">
          </div><br>

          <div class="detail-options">
            <label class="name">Cân nặng</label>
            <input class="input-default" type="range" name="number" id="number" max="85" value="10" min="45" step="1">
          </div><br>

          <div class="detail-options">
            <button type="submit" class="btn">Cập nhật tài khoản </button>
          </div><br>    
        </div>
      </form>             
      </section>
  </div>
</div>

 <footer class="footer">
        <div class="ft-container">
            <div class="ft-row">
                <div class="footer-col">
                    <a href="#"><img width="160dp" height="60dp" src="../image/SunHappy.png"></a> <br> <br>
                    <div class="social-links">
                        <a href="https://www.facebook.com/sunhappy.vn"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>
                    </div>

                    <div>
                        <ul style="padding-left: 0rem;" class="ft-ul">
                            <li><a href="#">0909.673.694</a></li>
                            <li><a href="#">cskh.sunhappy@gmail.com</a> </li>
                            <li><a href="#">211 Linh Đông, P.Linh Đông, Thủ Đức, TP.HCM</a></li>

                        </ul>
                    </div>

                </div>

                <div class="footer-col">
                    <h4>Về SunHappy </h4>
                    <ul style="padding-left: 0rem;" class="ft-ul">
                        <li><a href="#">Câu chuyện SunHappy</a></li>
                        <li><a href="#">Nhà máy</a></li>
                        <li><a href="#">Về sản phẩm</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Sản phẩm</h4>
                    <ul style="padding-left: 0rem;" class="ft-ul">
                        <li><a href="#">Áo phông</a></li>
                        <li><a href="#">Áo sơ mi</a></li>
                        <li><a href="#">Áo polo</a></li>
                        <li><a href="#">Quần đùi</a></li>
                        <li><a href="#">Quần dài</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Hỗ trợ khách hàng</h4>
                    <ul style="padding-left: 0rem;" class="ft-ul">
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Chính sách giao hàng</a></li>
                        <li><a href="#">Hướng dẫn mua hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>