<div class="slideshow-container">
    <div class="mySlides">
        <img src="../image/1.png" /> 
    </div> 
    <div class="mySlides fade">
      <img src="../image/2.png"  />
    </div>
    <div class="mySlides fade">
      <img src="../image/3.png" />
    </div>
    <div class="mySlides fade">
      <img src="../image/4.png" />      
    </div>
</div>
<div class="bigdot" style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
</div>
  
<link rel="stylesheet" href="../css/bannershow.css">
<script src="../data/bannershow.js" defer></script>