<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giỏ hàng - SunHappy</title>
  <link rel="stylesheet" href="../css/cart.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css">
  <script src="/assets/js/header.js"></script>
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../font_icon/themify-icons/themify-icons.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="../font_icon/fontawesome-free-6.2.1-web/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
  <div id="header">
    <header class="row">
        <ul id="nav">
            <li><a href="../../index.html"><img id="logo" src="../image/logo (7).png"></a></li>
            <li id="none"></li>
            <li>
                <a href="../layout/danhmucsp.html"> Danh sách 
                    <i class="ti-angle-down"></i>
                     </a>
                <ul class="subnav">
                    <li><a href="../layout/danhmucsp_quanshort.html">Quần short</a></li>
                    <li><a href="../layout/danhmucsp_aosomi.html">Áo sơ mi</a></li>
                    <li><a href="../layout/danhmucsp_aopolo.html">Áo polo</a></li>
            </ul>
            </li>
            <li><a href="../layout/about.html">About us</a></li>
            <li><a href="../layout/discount.html">Khuyến Mãi</a></li>
            <li id="none"></li>
            <li>
                 <form action="" id="search-box">
                    
                    <input placeholder="Điền tên sản phẩm" type="text" id="search-text">
                    <button id="search-btn"><i class="ti-search"></i></button>
                </form>
            </li>
            
            <li><a href="../layout/cart.html"><i class="shopping-cart-icon ti-shopping-cart"></i></a></li>
            <li><a href="../layout/login.html"><i class="user-icon ti-user"></i></a>
                <ul class="subnav" id="whenlogin" >
                   
                    <li><a href="../layout/account.html">Tài khoản </a></li>
                    <li><a onclick="dangxuat()" >Đăng xuất</a></li>

            </ul></li>
        </ul>
    </header>
</div>
  <main style="margin-top: 5%;" class="container">

    <div class="item-flex">
      <section class="checkout">

        <h2 class="section-heading">Thông tin thanh toán</h2>

        <div class="payment-form">

          <form action="header.html" name="formtt" onsubmit="return kiemtra()">

            <div class="name">
              <label for="name" class="label-default" value>Họ và tên</label>
              <input type="text" name="n" id="name" class="input-default">
            </div>

            <div class="phone-number">
              <label for="phone-number" class="label-default">Số điện thoại</label>
              <input type="number" name="p" id="phone" class="input-default">
            </div>
            <div class="address">
              <label for="address" class="label-default">Địa chỉ giao hàng</label>
              <table>
                <tr>
                    <td>
                        <form>
                            <select name="Tinh" class="input-default" style="font-size: 14px; padding: 12px 15px ; border: none; margin-right: 20px;">
                            <option value="">Chọn Tỉnh/Thành phố</option>
                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Gia Lai">Gia Lai</option>
                            </select>
                            </form>
                    </td>
                    <td>
                        <form >
                            <select name="Quan-Huyen" class="input-default" style="font-size: 14px; padding: 12px 15px ; border: none; margin-right: 20px;">
                            <option value="">Chọn Quận/Huyện</option>
                            <option value="Quận 1">Quận 1</option>
                            <option value="Quận 2">Quận 2</option>
                            <option value="Quận 3">Quận 3</option>
                            </select>
                            </form>
                    </td>
                    <td>
                        <form>
                            <select name="Thixa" class="input-default" style="font-size: 14px; padding: 12px 15px ; border: none; margin-right: 20px;">
                            <option value="">Chọn Phường/Xã</option>
                            <option value="Phường Bến Nghé">Phường Bến Nghé</option>
                            <option value="Phường Bến Nghé">Phường Bến Nghé</option>
                            <option value="Phường Bến Nghé">Phường Bến Nghé</option>
                            </select>
                            </form>
                    </td>
                </tr>
            </table>
          </div> <br>
            <div class="address-number">
                <label for="note" class="label-default">Lưu ý thêm về đơn hàng</label>
                <input type="note" name="note" id="noteorder" class="input-default">
              </div>

          </form>

        </div>
        <label for="name" class="label-default" value>Phương thức thanh toán</label>
        <div class="payment-form">

            <div class="payment-method">
  
              <button class="method selected">
                <span>Thanh toán khi nhận hàng</span>
  
                <ion-icon class="checkmark fill" name="checkmark-circle"></ion-icon>
              </button> <br>
              <button class="method">
  
                <span>Ví điện tử ZaloPay</span>
  
                <ion-icon class="checkmark" name="checkmark-circle-outline"></ion-icon>
              </button>
  
            </div>
            <div class="payment-form">

                <div class="payment-method">
                  <button class="method">
                    <span>Thanh toán momo</span>
                    <ion-icon class="checkmark" name="checkmark-circle-outline"></ion-icon>
                  </button>
      
                </div>
        <a >
          <button class="btn btn-primary" id="payment">
            <b>Đặt hàng</b></span>
          </button>
          <span id="loi" class="thongbao"></span>
        </a>

      </section>
      <section class="cart">

        <div class="cart-item-box">

          <h2 class="section-heading">Chi tiết đơn hàng</h2>

          <div class="product-card">

            <div class="card">

              <div class="img-box">
                <img src="../image/aopolo1.jpg" alt="Áo polo" width="80px" class="product-img">
              </div>

              <div class="detail">

                <h4 class="product-name">Áo Polo</h4>
                <table>
                    <tr>
                        <td>
                            <form>
                                <select name="color-product" class="input-default" style="font-size: 14px; padding: 10px ; border: none; margin-right: 20px;">
                                <option value="Xám">Xám</option>
                                <option value="Trắng">Trắng</option>
                                <option value="Đen">Đen</option>
                                </select>
                                </form>
                        </td>
                        <td>
                            <form>
                                <select name="size-product" class="input-default" style="font-size: 14px; padding: 10px ; border: none; margin-right: 20px;">
                                
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                </select>
                                </form>
                        </td>
                    </tr>
                </table>
                <br>

                <div class="wrapper">

                  <div class="product-qty">
                    <button id="decrement">
                      <ion-icon name="remove-outline"></ion-icon>
                    </button>

                    <span id="quantity">1</span>

                    <button id="increment">
                      <ion-icon name="add-outline"></ion-icon>
                    </button>
                  </div>

                  <div class="price">
                    <span id="priceProduct">189000</span>
                  </div>

                </div>

              </div>

              <button class="product-close-btn">
                <ion-icon name="close-outline"></ion-icon>
              </button>

            </div>

          </div>

          <div class="product-card">

            <div class="card">

              <div class="img-box">
                <img src="../image/aothun.jpg" alt="Áo thun" width="80px" class="product-img">
              </div>

              <div class="detail">

                <h4 class="product-name">Áo thun</h4>
                <table>
                    <tr>
                        <td>
                            <form>
                                <select name="color-product" class="input-default" style="font-size: 14px; padding: 10px ; border: none; margin-right: 20px;">
                                <option value="Xám">Xám</option>
                                <option value="Trắng">Trắng</option>
                                <option value="Đen">Đen</option>
                                </select>
                                </form>
                        </td>
                        <td>
                            <form>
                                <select name="size-product" class="input-default" style="font-size: 14px; padding: 10px ; border: none; margin-right: 20px;">
                                
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                </select>
                                </form>
                        </td>
                    </tr>
                </table> <br>

                <div class="wrapper">

                  <div class="product-qty">
                    <button id="decrement">
                      <ion-icon name="remove-outline"></ion-icon>
                    </button>

                    <span id="quantity">1</span>

                    <button id="increment">
                      <ion-icon name="add-outline"></ion-icon>
                    </button>
                  </div>

                  <div class="price">
                    <span id="priceProduct">159000</span>
                  </div>

                </div>

              </div>

              <button class="product-close-btn">
                <ion-icon name="close-outline"></ion-icon>
              </button>

            </div>

          </div>

        </div>

        <div class="wrapper">

          <div class="discount-token">

            <label for="discount-token" class="label-default">Mã giảm giá</label>

            <div class="wrapper-flex">

              <select name="calc_shipping_provinces" id="giamgia" required="" class="input-default" style="font-size: 14px; padding: 12px 15px ; border: none; margin-right: 20px;">
                <option value="15000">Mã giảm giá 15000 cho đơn hàng đầu tiên</option>
                <option value="30000">Mã giảm giá 30000 siêu sale cuối năm</option>
              </select>
              <button class="btn btn-primary" id="click" type="button"><b>Chọn</b> </button>
            </div>

          </div>

          <div class="amount" onclick="totalCalc()">

            <div class="subtotal">
              <span>Tạm tính</span> <span id="subtotal">348000</span>
            </div>

            <div class="tax">
              <span>Giảm giá</span> <span id="discount">15000</span>
            </div>

            <div class="shipping">
              <span>Phí giao hàng</span> <span id="shipping">30000 </span>
            </div>

            <div class="total">
              <span>Tổng thanh toán</span> <span id="total">363000 VND</span>
            </div>

          </div>

        </div>

      </section>

    </div>

  </main>
  <script src="../js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  

</body>
<footer>
  <body class="ft-body">

    <footer class="footer">
       <div class="ft-container">
         <div class="ft-row">
           <div class="footer-col">
                  <a href="#"><img width="160dp" height="60dp" src="../image/SunHappy.png"></a> <br> <br>
                  <div class="social-links">
                      <a href="https://www.facebook.com/sunhappy.vn"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.tiktok.com/@sunhappy_fashion?_t=8Y51iBjJA25&_r=1"><i class="fab fa-tiktok"></i></a>
                      <a href="https://instagram.com/polo.sunhappy?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                  </div> 
                
                  <div>
                      <ul class="ft-ul">
                          <li><a href="#" >0909.673.694</a></li> 
                             <li><a href="#">cskh.sunhappy@gmail.com</a> </li>
                             <li><a href="#">211 Linh Đông, P.Linh Đông, Thủ Đức, TP.HCM</a></li>
                         
                         </ul>
                  </div>
                  
           </div>
              
           <div class="footer-col">
             <h4>SunHappy </h4>
             <ul class="ft-ul">
               <li><a href="../../index.html">Trang chủ</a></li>
               <li><a href="about.html">About us</a></li>
               <li><a href="discount.html">Khuyến mãi</a></li>
               <li><a href="cart.html">Giỏ hàng</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>Sản phẩm</h4>
             <ul class="ft-ul">
               <li><a href="danhmucsp_quanshort.html">Quần short</a></li>
               <li><a href="danhmucsp_aosomi.html">Áo sơ mi</a></li>
               <li><a href="danhmucsp_aopolo.html">Áo polo</a></li>
             </ul>
           </div>
           <div class="footer-col">
                  <h4>Quản lý tài khoản</h4>
                  <ul class="ft-ul">
                      <li><a href="personal information.html">Thông tin cá nhân</a></li>
                      <li><a href="order_list.html">Danh sách đơn hàng</a></li>
                      <li><a href="register.html">Đăng xuất</a></li>
                      <br> <br>
                      <li><img width="160dp" height="60dp" src="../image/bo-cong-thuong-1170x780.png"></li>
                  </ul>
              </div>
         </div>
       </div>
    </footer>
  
  </body>
</footer>
</html>