<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    
</head>
<body>
    <header class="row">
        <ul id="nav">
            <li><a href="index.html"><img id="logo" src="./assets/image/logo (7).png"></a></li>
            
            <li>
                <a href=""> Danh sách 
                    <i class="ti-angle-down"></i>
                     </a>
                <ul class="subnav">
                    <li><a href="">Danh sách</a></li>
                    <li><a href="">Áo sơ mi</a></li>
                    <li><a href="">Áo ba lỗ</a></li>
            </ul>
            </li>
            <li><a href="">About us</a></li>
            <li><a href="">Khuyễn Mãi</a></li>
            
            <li>
                 <form action="" id="search-box">
                    
                    <input placeholder="Điền tên sản phẩm" type="text" id="search-text">
                    <button id="search-btn"><i class="ti-search"></i></button>
                </form>
            </li>
            
            <li><a href=""><i class="shopping-cart-icon ti-shopping-cart"></i></a></li>
            <li><a href=""><i class="user-icon ti-user"></i></a></li>
        </ul>
    </header>
    <br><br><br><br>
</body>
</html>