<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
     <!-- file css riêng của mỗi layout -->
     <link rel="stylesheet"  href="../bootstrap/css/bootstrap.css" type="text/css">
     <link rel="stylesheet" href="../css/substyle.css" type="text/css">
     <link rel="stylesheet" href="../css/chitietsanpham.css" type="text/css">
    <!-- file css để lấy thư viện icon -->
    <link rel="stylesheet" href="../font_icon/themify-icons/themify-icons.css" type="text/css">
    <!-- file css header -->
    <link rel="stylesheet" href="../css/header.css">
    <!-- file css chung để lấy size,font: main -->
    <link href="../css/main.css" rel="stylesheet" type="text/css">

</head>
<body>
    <!-- header -->
    <div id="header">
        <header class="row">
            <ul id="nav">
                <li><a href="index.html"><img id="logo" src="../image/logo (7).png"></a></li>
                <li id="none"></li>
                <li>
                    <a href=""> Danh sách 
                        <i class="ti-angle-down"></i>
                         </a>
                    <ul class="subnav">
                        <li><a href="">Danh sách</a></li>
                        <li><a href="">Áo sơ mi</a></li>
                        <li><a href="">Áo ba lỗ</a></li>
                </ul>
                </li>
                <li><a href="">About us</a></li>
                <li><a href="">Khuyễn Mãi</a></li>
                <li id="none"></li>
                <li>
                     <form action="" id="search-box">
                        
                        <input placeholder="Điền tên sản phẩm" type="text" id="search-text">
                        <button id="search-btn"><i class="ti-search"></i></button>
                    </form>
                </li>
                
                <li><a href=""><i class="shopping-cart-icon ti-shopping-cart"></i></a></li>
                <li><a href=""><i class="user-icon ti-user"></i></a></li>
            </ul>
        </header>
      </div>
    <!-- end header --> 

    <!-- content --> 
    <div id="body" style="margin-top: 70px;">
        <div style="background-color: #F9d342;padding-left: 50px; height: 35px;">
            <p>Trang chủ <i class="ti-angle-right "></i>
                <a href="../layout/danhmucsp.html">Danh mục sản phẩm</a>
                <i class="ti-angle-right "></i>
                <a href="../layout/danhmucsp_aopolo.html">Áo polo</a>
                <i class="ti-angle-right "></i>
                <a href="../layout/chitietsanpham.html">Chi tiết</a>
            </p> 
        </div>
        <div id="chitiet">
            <div id="hinhanh">
                <img id="img_main" src="../image/sanpham (18).jpg">
                <img src="../image/sanpham (14).jpg" >
                <img src="../image/sanpham (15).jpg" >
                <img src="../image/sanpham (16).jpg" >


            </div>
            <div id="thongtin">
                <h2 style="margin: 20px;">Áo polo nam cổ bẻ TSIMPLE</h2>
                <h3 style="margin: 20px; color: #FC9D45; font-weight: bold;">200.000 VNĐ</h3>
                <div> <h3>Chọn màu:</h3> </div>
                <div> <h3>Chọn size:</h3> </div>
                <div></div>
               
              
            </div>
            <div id="thongtinbosung"></div>

        </div>

     </div>

</body>
</html>