<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
     <!-- file css riêng của mỗi layout -->
     <link rel="stylesheet"  href="../bootstrap/css/bootstrap.css" type="text/css">
     <link rel="stylesheet" href="../css/substyle.css" type="text/css">
     <link rel="stylesheet" href="../css/chitietsanpham.css" type="text/css">
    <!-- file css để lấy thư viện icon -->
    <link rel="stylesheet" href="../font_icon/themify-icons/themify-icons.css" type="text/css">
    <!-- file css header -->
    <link rel="stylesheet" href="../css/header.css">
    <!-- file css chung để lấy size,font: main -->
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <script src="../js/chitietsanpham.js"></script>

    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script>
        let urlparams = new URLSearchParams(location.search);
        var iD = urlparams.get('productId');
    </script>
    <script>
        let app = angular.module("angularApp", []);
        app.controller("DetailController", function($scope, $http) {
            $http({
                method: "GET",
                url: "../data/product.json"
            }).then(
                function success(response) {
                    $scope.selectedProduct = response.data.find(value => value.id == iD);
                },
                function error(response) {
                    $scope.error = response.statusText;
                }
            )
        })
    </script>

</head>
<body ng-app="angularApp" ng-controller="DetailController" style="background-image: url(../image/background3.jpg);">
    <!-- header -->
    <div id="header">
        <header class="row">
            <ul id="nav">
                <li><a href="../../index.html"><img id="logo" src="../image/logo (7).png"></a></li>
                <li id="none"></li>
                <li>
                    <a href="../layout/danhmucsp.html"> Danh sách 
                        <i class="ti-angle-down"></i>
                         </a>
                    <ul class="subnav">
                        <li><a href="../layout/danhmucsp_quanshort.html">Quần short</a></li>
                        <li><a href="../layout/danhmucsp_aosomi.html">Áo sơ mi</a></li>
                        <li><a href="../layout/danhmucsp_aopolo.html">Áo polo</a></li>
                </ul>
                </li>
                <li><a href="../layout/about.html">About us</a></li>
                <li><a href="../layout/discount.html">Khuyễn Mãi</a></li>
                <li id="none"></li>
                <li>
                     <form action="" id="search-box">
                        
                        <input placeholder="Điền tên sản phẩm" type="text" id="search-text">
                        <button id="search-btn"><i class="ti-search"></i></button>
                    </form>
                </li>
                
                <li><a href="../layout/cart.html"><i class="shopping-cart-icon ti-shopping-cart"></i></a></li>
                <li><a href="../layout/account.html"><i class="user-icon ti-user"></i></a></li>
            </ul>
        </header>
    </div>
    <!-- end header --> 

    <!-- content --> 
    <div id="body" style="margin-top: 80px;">
        <div style="background-color: #F9d342;padding-left: 50px; height: 35px;">
            <p>Trang chủ <i class="ti-angle-right "></i>
                <a href="../layout/danhmucsp.html">Danh mục sản phẩm</a>
                <i class="ti-angle-right "></i>
                <a href="../layout/danhmucsp_aopolo.html">{{selectedProduct.category}}</a>
                <i class="ti-angle-right "></i>
                <a href="../layout/chitietsanpham.html">Chi tiết</a>
            </p> 
        </div>
        <div id="chitiet">
            <div id="hinhanh">
                <img id="img_main" src="{{'../image/'+selectedProduct.image}}">
                <img id="img_1" src="../image/sanpham (14).jpg" >
                <img id="img_2" src="../image/sanpham (15).jpg" >
                <img id="img_3" src="../image/sanpham (16).jpg" >


            </div>
            <div id="thongtin">
                <h2 style="text-align: center; margin: 20px;">{{selectedProduct.name}}</h2>
                <h3 style=" color: #FC9D45; font-weight: bold;">{{selectedProduct.price}}</h3>
                <div> <h3>Chọn màu: <select onchange="chonmau()" id="chonmau">
                    <option value="red">{{selectedProduct.colors[0]}}</option>
                    <option value="blue">{{selectedProduct.colors[1]}}</option>
                    <option value="green">{{selectedProduct.colors[2]}}</option>
                    <option value="lightblue">{{selectedProduct.colors[3]}}</option>
                </select></h3>  </div>
                <div> <h3>Chọn size:
                    <select id="chonsize">
                        <option value="M">{{selectedProduct.sizes[0]}}</option>
                        <option value="Xl">{{selectedProduct.sizes[1]}}</option>
                        <option value="XXL">{{selectedProduct.sizes[2]}}</option>
                        <option value="XXXl">{{selectedProduct.sizes[3]}}</option>
                    </select>
                </h3> </div>
                <div>
                    <button class="btn_sub" name="button" value="OK" type="button" onclick="addtocart()"    ><i class="ti-plus"></i> Thêm vào giỏ hàng  </button>  
<script>  
  function addtocart(){  
    alert("Thêm vào giỏ hàng thành công");  
  }  
</script>  

                   <button onclick="gotocart()" class="btn_sub">  <a href="../layout/cart.html"><i class="ti-shopping-cart"></i> </a> Mua ngay </button>  
                   <img onclick="changeImage()" id="addtof" src="../image/unadd.png" alt=""> 
                 
                  
                </div>
                <div id="mota">
                    <i class="ti-star"></i> <p style="font-family:montserrat">{{selectedProduct.description1}}</p>

                        <i class="ti-heart"></i>
                        <p style="font-family:montserrat">{{selectedProduct.description2}}</p>
                </div>
               
              
            </div>
            <div id="thongtinbosung">
                <div>
                    <h2 class="h2center">Có thể bạn cũng thích</h2>
                   
                    <div id="noibat">
                        <div class="sanpham" >
                            <div   style="background-color: lightgray;padding:10px" >
                                <a href="../layout/danhmucsp.html">
                                    <img style="width:100%"
                                     src="../image/sanpham (19).jpg">
                                    <h3> Áo polo </h3>
                                    <h3> 300.000 </h3>
                                </a>
                            </div>
                          
                        </div>
                        <div class="sanpham" >
                            <div   style="background-color: lightgray;padding:10px" >
                                <a href="../layout/danhmucsp.html">
                                    <img style="width:100%"
                                     src="../image/sanpham (20).jpg">
                                    <h3> Áo polo </h3>
                                    <h3> 190.000 </h3>
                                </a>
                            </div>
                          
                        </div>
                        <div class="sanpham" >
                            <div   style="background-color: lightgray;padding:10px" >
                                <a href="../layout/danhmucsp.html">
                                    <img style="width:100%"
                                     src="../image/sanpham (21).jpg">
                                    <h3> Áo polo </h3>
                                    <h3> 210.000 </h3>
                                    
                                </a>
                            </div>
                          
                        </div>
                        <div class="sanpham" >
                            <div   style="background-color: lightgray;padding:10px" >
                                <a href="../layout/danhmucsp.html">
                                    <img style="width:100%"
                                     src="../image/sanpham (17).jpg">
                                    <h3> Áo polo </h3>
                                    <h3> 230.000 </h3>
                                </a>
                            </div>
                          
                        </div>
                      
                        
                    </div>
        
                   
                   
            </div>
                            
           
            </div>

        </div>

     </div>

</body>
</html>