<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../font_icon/themify-icons/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/substyle.css" type="text/css">
    <link rel="stylesheet"  href="../bootstrap/css/bootstrap.css" type="text/css">

</head>
<body>
    <!-- content -->
    <div class="header container-fluid hidden-xs hidden-sm"></div>
    <div style="background-color: #FFDE59;">
        <p>Trang chủ <span class="ti-angle-right" ></span>Danh mục sản phẩm</p>
        
    </div>
    <div class="prd1-cont container-fluid">
        
        <div class="row">
           
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 prd1-left hidden-xs hidden-sm">
                <div class="row left-tree" >
                    <ul class="nav" >
                        <li class="first-lvl">
                            <label label-default class="tree-toggle nav-header orange"><span class="ti-layout-grid3"></span> PHÂN LOẠI </span> 
                            </label>
                            <ul class="tree" style="list-style: none;    margin-bottom: 0;
                            padding-left: 0;">
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item"  type="checkbox" value="aosomi" hidden>
                                        Áo sơ mi
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item" type="checkbox" value="aopolo" hidden>
                                        Áo Polo
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item" type="checkbox" value="quanshort" hidden>
                                        Quần short    
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                            
                            </ul>
                        </li>
                        <li class="nav-divider"></li>
                        <li class="first-lvl">
                            <label label-default class="tree-toggle nav-header orange"><span class="ti-layout-grid3"></span> <Label> LỌC SẢN PHẨM   </Label> </span> 
                            </label>
                            <ul class="tree" style="list-style: none;    margin-bottom: 0;
                            padding-left: 0;">
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item"  type="checkbox" value="aosomi" hidden>
                                        Size S
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item" type="checkbox" value="aopolo" hidden>
                                        Size M
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item" type="checkbox" value="quanshort" hidden>
                                        Size L    
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item" type="checkbox" value="quanshort" hidden>
                                        Size XXL    
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                            
                            </ul>
                        </li>
                        <li class="nav-divider"></li>
                        <li class="first-lvl">
                            <label label-default class="tree-toggle nav-header orange"><span class="ti-layout-grid3"></span> <Label> SẮP XẾP THEO   </Label> </span> 
                            </label>
                            <ul class="tree" style="list-style: none;    margin-bottom: 0;
                            padding-left: 0;">
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item"  type="checkbox" value="aosomi" hidden>
                                        Giá thấp tới cao
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item" type="checkbox" value="aopolo" hidden>
                                        Nhỏ hơn 200k
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item" type="checkbox" value="quanshort" hidden>
                                        lớn hơn 200k  
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input name="cbStatus" class="cb-item" type="checkbox" value="quanshort" hidden>
                                        Size XXL    
                                        <span class="glyphicon"></span>
                                    </label>
                                </li>
                            
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 prd1-right">
                <div class="row prd1-right-items">
                
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            <div class="cont-item">
                                <a href="">
                                    <img class="inormal" src="../image/sanpham (2).jpg">
                                </a>
                            </div>
                            <div class="button"></div>
                            <div class="caption">
                               
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a href="">Vintas Soda Pop - Low Top</a>
                                </h3>
                                <h3 class="price">
                                    680.000 VND                                                                    
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            <div class="cont-item">
                                <a href="">
                                    <img class="inormal" src="../image/sanpham (3).jpg">
                                </a>
                            </div>
                            <div class="button"></div>
                            <div class="caption">
                               
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a href="">Vintas Soda Pop - Low Top</a>
                                </h3>
                                <h3 class="price">
                                    680.000 VND                                                                    
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            <div class="cont-item">
                                <a href="">
                                    <img class="inormal" src="../image/sanpham (4).jpg">
                                </a>
                            </div>
                            <div class="button"></div>
                            <div class="caption">
                               
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a href="">Vintas Soda Pop - Low Top</a>
                                </h3>
                                <h3 class="price">
                                    680.000 VND                                                                    
                                </h3>
                            </div>
                        </div>
                    </div>    
                    <div class="item-break" ></div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            <div class="cont-item">
                                <a href="">
                                    <img class="inormal" src="../image/sanpham (5).jpg">
                                </a>
                            </div>
                            <div class="button"></div>
                            <div class="caption">
                               
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a href="">Vintas Soda Pop - Low Top</a>
                                </h3>
                                <h3 class="price">
                                    680.000 VND                                                                    
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            <div class="cont-item">
                                <a href="">
                                    <img class="inormal" src="../image/sanpham (6).jpg">
                                </a>
                            </div>
                            <div class="button"></div>
                            <div class="caption">
                               
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a href="">Vintas Soda Pop - Low Top</a>
                                </h3>
                                <h3 class="price">
                                    680.000 VND                                                                    
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            <div class="cont-item">
                                <a href="">
                                    <img class="inormal" src="../image/sanpham (7).jpg">
                                </a>
                            </div>
                            <div class="button"></div>
                            <div class="caption">
                               
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a href="">Vintas Soda Pop - Low Top</a>
                                </h3>
                                <h3 class="price">
                                    680.000 VND                                                                    
                                </h3>
                            </div>
                        </div>
                    </div>    
                    <div class="item-break" ></div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            <div class="cont-item">
                                <a href="">
                                    <img class="inormal" src="../image/sanpham (8).jpg">
                                </a>
                            </div>
                            <div class="button"></div>
                            <div class="caption">
                               
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a href="">Vintas Soda Pop - Low Top</a>
                                </h3>
                                <h3 class="price">
                                    680.000 VND                                                                    
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            <div class="cont-item">
                                <a href="">
                                    <img class="inormal" src="../image/sanpham (9).jpg">
                                </a>
                            </div>
                            <div class="button"></div>
                            <div class="caption">
                               
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a href="">Vintas Soda Pop - Low Top</a>
                                </h3>
                                <h3 class="price">
                                    680.000 VND                                                                    
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            <div class="cont-item">
                                <a href="">
                                    <img class="inormal" src="../image/sanpham (10).jpg">
                                </a>
                            </div>
                            <div class="button"></div>
                            <div class="caption">
                               
                                <h3 class="divider"></h3>
                                <h3 class="name">
                                    <a href="">Vintas Soda Pop - Low Top</a>
                                </h3>
                                <h3 class="price">
                                    680.000 VND                                                                    
                                </h3>
                            </div>
                        </div>
                    </div>    
                    <div class="item-break" ></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
    <script type="text/javascrtipt" src="../bootstrap/js/bootstrap.js"></script>
</body>
</html>