<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin chi tiết đơn hàng</title>
    <link rel="stylesheet" href="../css/manage_personal.css">
    <link rel="stylesheet" type="text/css" href="../font_icon/fontawesome-free-6.2.1-web/css/all.min.css">
    <link rel="stylesheet" href="../css/manage_personal.css">
    <script src="/assets/js/header.js"></script>
    <link rel="stylesheet" href="../font_icon/themify-icons/themify-icons.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../font_icon/fontawesome-free-6.2.1-web/css/all.min.css">
    <script>
      function alertFinishing() {
          alert("Chức năng đang hoàn thiện!");
      }
    </script>
    <script>
      function exitConfirm() {
        if (window.confirm("Bạn có chắc chắn muốn thoát?")) {
            window.open("login.html", "Vui lòng đăng nhập!");
            }
      }
    </script>
</head>
<body>
  <div class="container">
    <div class="item-flex">
      <section class="list-information">
        <h2>Nguyễn Văn Nhân</h2>
        <div class="list-form">
          <div class="list-form">
            <div class="more-options">
              <button class="option">
                <span><a style="text-decoration: none" href="../layout/account.html">Thông tin cá nhân</a></span>
              </button> <br>
              <button class="option">
                <span><a style="text-decoration: none" href="../layout/order_list_dangchuanbi.html">Danh sách đơn hàng</a></span>
              </button><br>
              <button class="option">
                <span><a onclick="alertFinishing()">Đánh giá</a></span>
              </button><br>
              <button class="option">
                <span><a onclick="alertFinishing()">Voucher của bạn</a></span>
              </button><br>
              <button class="option">
                <span><a onclick="alertFinishing()">Tư vấn</a></span>
              </button><br>
              <button class="option">
                <span><a onclick="exitConfirm()">Thoát</a></span>
              </button><br>
            </div>
            </div>
    </section>
            <section class="detail-information">
                <center>
                    <h2>Thông tin chi tiết đơn hàng của bạn</h2>
               
                <div class="order-title">
                  <div >
                  ĐƠN HÀNG #112067314<br>
                  <span style="font-size: 14px; padding: 5px 7px; padding-bottom: 10px;">
                  Đã xác nhận
                  </span>
                  </div>
                  </div>
                </center>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Tên sản phẩm</th> 
                      <th>Số lượng</th> 
                      <th width="120px">Giá niêm yết</th> 
                      <th>Biến thể</th> 
                      <th class="text--right">Thành tiền</th>
                    </tr>
                  </thead> 
                  <tbody>
                    <tr>
                      <td class="text--left">  Wow Box Cotton đặc biệt dành riêng cho khách hàng chỉ với 199k </td> 
                      <td>1</td> 
                      <td>199.000đ</td> 
                      <td> L</td>
                   <td>199.000đ</td>
                  </tr>
                </tbody> 
                <tfoot>
                  <tr>
                    <td colspan="4">Mã giảm giá</td>
                   <td></td>
                  </tr> 
                  <tr>
                    <td colspan="4"> Tổng giá trị sản phẩm </td> 
                    <td> 199.000đ</td>
                  </tr> 
                  <tr>
                    <td colspan="4">Tổng khuyến mãi</td>
                   <td></td>
                  </tr> 
                  <tr><td colspan="4">Phí giao hàng</td>
                     <td>+25.000đ</td></tr> 
                     <tr class="total_payment">
                      <td colspan="4">Tổng thanh toán</td> 
                      <td> 224.000đ</td>
                  </tr>
                </tfoot>
              </table>
              <p class="order-heading">
               <center style="margin: 0px;">
                <h3 style="margin-block-end: 5px;">Thông tin nhận hàng</h3> 
               </center>
                </p>
                <div class="box text--left">
                <p>Tên người nhận:
                <span class="text--bold">
                Nhân Nguyễn Thành
                </span>
                </p>
                <p>Địa chỉ Email:
                <span class="text--bold">
                </span>
                </p>
                <p>Số điện thoại:
                <span class="text--bold">
                0339804405
                </span>
                </p>
                <p>Hình thức thanh toán:
                <span class="text--bold">
                COD
                </span>
                </p>
                <div>Địa chỉ giao hàng:
                <span class="text--bold">
                KTX Khu B, Đại học Quốc gia TP.HCM, Phường Linh Trung, Thành Phố Thủ Đức, Hồ Chí Minh
                </span>
                </div>
                </div>
                </div>
                </section>
    
</body>
</html>