
  	 <div class="ft-container">
  	 	<div class="ft-row">
  	 		<div class="footer-col">
                <a href="#"><img width="160dp" height="60dp" src="../image/SunHappy.png"></a> <br> <br>
                <div class="social-links">
                    <a href="https://www.facebook.com/sunhappy.vn"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@sunhappy_fashion?_t=8Y51iBjJA25&_r=1"><i class="fab fa-tiktok"></i></a>
                    <a href="https://instagram.com/polo.sunhappy?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                </div> 
              
                <div>
                    <ul class="ft-ul">
                        <li><a href="#" >0909.673.694</a></li> 
                           <li><a href="#">cskh.sunhappy@gmail.com</a> </li>
                           <li><a href="#">211 Linh Đông, P.Linh Đông, Thủ Đức, TP.HCM</a></li>
                       
                       </ul>
                </div>
                
  	 		</div>
            
  	 		<div class="footer-col">
  	 			<h4>Về SunHappy </h4>
  	 			<ul class="ft-ul">
  	 				<li><a href="#">Câu chuyện SunHappy</a></li>
  	 				<li><a href="#">Nhà máy</a></li>
                    <li><a href="#">Về sản phẩm</a></li>
  	 				<li><a href="#">Tuyển dụng</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Sản phẩm</h4>
  	 			<ul class="ft-ul">
  	 				<li><a href="#">Áo phông</a></li>
  	 				<li><a href="#">Áo sơ mi</a></li>
  	 				<li><a href="#">Áo polo</a></li>
  	 				<li><a href="#">Quần đùi</a></li>
                       <li><a href="#">Quần dài</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
                <h4>Hỗ trợ khách hàng</h4>
                <ul class="ft-ul">
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Chính sách giao hàng</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                </ul>
            </div>
  	 	</div>
  	 </div>
