<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form">
                <form action="otp.html" method="POST" autocomplete="">
                    <h2 class="text-center">Quên mật khẩu</h2>
                    <p class="text-center">Nhập địa chỉ email của bạn</p>
                    
                    <div class="form-group"> <!-- <input type="text" placeholder="Địa chỉ email" required>-->
                        <input class="form-control" type="email" name="email" placeholder="Nhập địa chỉ email của bạn" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control button" type="submit" name="check-email" value="Lấy lại mật khẩu" >
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>