
            <ul id="nav">
                <li><a href="index.html"><img id="logo" src="../image/SunHappy.png"></a></li>
                <li id="none"></li>
                <li> 
                    <a href="./assets/layout/danhmucsp.html"> Danh sách
                        <i class="ti-angle-down"></i>
                         </a>
                    <ul class="subnav">
                        <li><a href="./assets/layout/danhmucsp_aosomi.html">Áo sơ mi</a></li>
                        <li><a href="./assets/layout/danhmucsp_aopolo.html">Áo polo</a></li>
                        <li><a href="./assets/layout/danhmucsp_quanshort.html">Quần short</a></li>
                </ul>
                </li>
                <li><a href="./assets/layout/about.html">About us</a></li>
                <li><a href="./assets/layout/discount.html">Khuyễn Mãi</a></li>
                <li id="none"></li>
                <li>
                     <form action="" id="search-box">
                        
                        <input placeholder="Điền tên sản phẩm" type="text" id="search-text">
                        <button id="search-btn"><i class="ti-search"></i></button>
                    </form>
                </li>
                
                <li><a href="./assets/layout/cart.html"><i class="shopping-cart-icon ti-shopping-cart"></i></a></li>
                <li><a href="./assets/layout/login.html"><i class="user-icon ti-user"></i></a>
                    <ul class="subnav" id="whenlogin" >
                       
                        <li><a href="./assets/layout/account.html">Tài khoản của tôi</a></li>
                        <li><a onclick="dangxuat()" >Đăng xuất</a></li>

                </ul>
                </li>
      