<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách đơn hàng</title>
    <link rel="stylesheet" href="../css/manage_personal.css">
    <link rel="stylesheet" type="text/css" href="../font_icon/fontawesome-free-6.2.1-web/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="item-flex">
            <section class="list-information">
                <h2>Nguyễn Văn Nhân</h2>
                <div class="list-form">
                    <div class="more-options">
                      <button class="option">
                        <span><a href="../layout/account.html">Thông tin cá nhân</a></span>
                      </button> <br>
                      <button class="option">
                        <span><a href="../layout/order_list.html">Danh sách đơn hàng</a></span>
                      </button><br>
                      <!-- <button class="option">
                        <span>Đánh giá</span>
                      </button><br>
                      <button class="option">
                        <span>Voucher</span>
                      </button><br>
                      <button class="option">
                        <span>Ý kiến đánh giá</span>
                      </button><br> -->
                      <button class="option">
                        <span>Thoát</span>
                      </button><br>
                    </div>
            </section>


            <section class="detail-information">
                <h2>Danh sách đơn hàng</h2>
                

                    <div class="orders-body">
                      <div class="head-box">
                        <div class="list"><span>Đang giao</span></div>
                        <div class="list"><span>Đã giao</span></div>
                        <div class="list"><span>Đã hủy đơn</span></div>
                        <div class="list"><span>Mua lại</span></div>
                    </div>
                    <div><a href="../layout/detailed_order.html">
                      <div  class="order-header">
                        <div><p class="order-title">Mã sản phẩm: #112067314</p> 
                            <p class="order-date"> Ngày đặt hàng: 19.04.2022 </p>
                        </div>
                         <div class="order-status"><span>Đã xác nhận</span>
                        </div>
                    </div>
                    <div class="order-body">
                        <div class="order-item">
                            <div class="order-img">
                              <img src="../image/anhe.jpg" class="anhnho">
                            </div> 
                            <div class="order-item-info">
                              <p class="order-item-title">Wow Box Cotton đặc biệt dành riêng cho khách hàng chỉ với 199k </p> 
                              <p class="order-item-title">Size: L</p> 
                              <p class="order-item-title">Số lượng: 1</p> 

                            </div>
                            <div class="order-item-button">
                                <button class="btn btn-sm"><span> Đánh giá sản phẩm </span></button>
                            </div>
                        </div>
                    </div>
                    </a>
                
                    </div>

                               
                            </div>
                            <div class="order-footer">
                                <div>Tổng đơn hàng: <b>224.000đ</b></div>
                            </div>
                    </div>

                                
            </section>
            </div>
    </div>
    
</body>
</html>