<html lang="en">
    <head>	
        <title>ĐĂNG KÝ</title>
	    <link rel="shortcut icon" href="img/ico/favicon.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
        <link href="../css/MHstyle.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
            <div class="content-wrapper">
            <div class="sub-main">
                <h2 class="sub-heading">ĐĂNG KÝ</h2>
              
                <div class="login">
                    <p class="span line-left">Nhập thông tin đăng ký của bạn!</p>
                    <form action="#" method="post">
                        <input type="text" class="user active" value="Tên đăng nhập" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tên đăng nhập';}"/>
                        <input type="email" class="email active" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"/>
                        <input type="password" class="lock active" value="Mật khẩu" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mật khẩu';}" placeholder="Password"/>
                        <label class="custom-control-label" for="agree">Tôi đồng ý với <a href="#">Điều khoản</a> và <a href="#">Bảo mật</a>.</label>
                        
                        <div class="login-bwn">
                            <input type="submit" value="Start" />
                        </div>

                        <div class="login-bottom">
                            <h4>Bạn đã có tài khoản?</a></h4>
                            <div class="reg-bwn"><a href="login.html">Đăng nhập ngay!</a></div>
                        </div>
                    </form>
                </div>
           
            </div>

        </div>
       
    
        <!-- <script src="lib/bootstrap-3.3.6/js/bootstrap.min.js"></script> -->
        <!-- public script for search form js -->
        <script src="../js/scripts.js"></script>
       
    </body>
</html>