
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');


html {

    font-family: 'Montserrat', sans-serif;
    background-color: #f2f3ef;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
   
}
#body{
    width: 100%;
    height: 100%;
}

#hinhanh{
    width: 30%;
    
    height: 600px;
    float: left;
    margin: 2.5%;
    padding: 15px;
}
#noibat{
    text-align: center;
    margin: 15px 0px;
    padding: 20px;
}
.sanpham{
    text-align: center;
    width: 25%;
    padding: 10px;
     float: left;
    box-sizing: border-box;
    border-radius: 15px;

}
.sanpham img{
    height: 280px;
    border-radius: 15px;

}
.sanpham:hover{
    opacity: 70%;
}


#hinhanh #img_main{
    width: 100%;
    height: 400px;
    margin: 20px 0px;
    
}
#hinhanh img{
    width: 25%;
    height: 100px;
    margin: 5px;
    
    
}
#hinhanh #img_main:hover{
    width: 110%;
    height: 450px;
    opacity: 70%;
    
}
#hinhanh img:hover{
    width: 35%;
    height: 120px;
    opacity: 70%;
    

    
}
#thongtin{
    margin: 2.5%;
    padding: 15px;
    width: 50%;
    height: 400px;
    float: left;
}
#chitiet{
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
}
#thongtinbosung{
    float: left;
    
    height: 400px;
    width: 90%;
    margin: 5%;

   
}
#chitietft{
    float: left;
    height: 300px;
    width: 100%;
 
   
}
.btn_sub{
    margin: 25px;
    background-color: #FFDE59;
   height: 60px;
width: 200px;
   color: #601E00;
    border-radius: 15px;
}
