body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h1
{
    width: 90%;
    margin: auto;
    padding: 50px 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: capitalize;
}
#containerClothing
{
    display: grid;
    grid-gap: 70px 50px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
  
   
}
#box 
{
    width: 100%;
    background-color: white;
    align-content: center;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);

}
#box img{
    width: 50%;
    height: 70%;
}
#box:hover
{
    box-shadow: 1px 6px 3px 0 rgb(215, 217, 201);
}
#containerClothing img
{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#details
{
    padding: 0 15px;
    text-transform: capitalize;
}
#box a 
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
h3
{
    font-size: 16px;
    margin: 5px;
}
h4
{
    font-weight: 100;
    margin: 0px;
}
h2
{
    color: rgb(3, 94, 94);
}
.cart{
    /* text-align: center; */
    padding: 5px 10px;
    /* background-color: aqua; */
    font-size: 10px;
    /* width: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart  button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
}
.cart button:hover{
   background-color: blanchedalmond;
   
}

