@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

body
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
h1
{
    width: 90%;
    margin: auto;
    padding: 50px 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: capitalize;
}
#containerClothing
{
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}
#box 
{
    width: 100%;
    background-color: white;
    align-content: center;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgb(219, 219, 219);
}

#box img{
    width: 50%;
    height: 70%;
}
#box:hover
{
    box-shadow: 1px 6px 3px 0 rgb(215, 217, 201);
}
#containerClothing img
{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#details
{
    padding: 0 15px;
    text-transform: capitalize;
}
#box a 
{
    text-decoration: none;
    color: rgb(29, 29, 29);
}
h3
{
    font-size: 15px;
    margin: 5px;
}
h4
{
    font-weight: 100;
    margin: 0px;
}
h2
{
    color: rgb(3, 94, 94);
}
.cart{
    /* text-align: center; */

    /* background-color: aqua; */
    font-size: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cart  button{
    width: 60%;
    height: 30%;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.cart button:hover{
   background-color: blanchedalmond;
   
}
p{
    font-size: 30px;
    padding: 30px;
    padding-left: 100px;
}
button{
    font-size: 10px;
   margin-top: 10px;
}

